<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:id="http://www.w3.org/1999/xhtml">

<head>
<title>all job candidate form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- styles for table -->
<style>
.add-button {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}

.glyph-plus {
	color: #517BBA;
}

button {
	border-radius: 5px;
	margin-right: 10px;
}

th {
	padding: 5px 34px 5px 34px;
	opacity: 0.8;
}

#home-button-align {
	margin-left: 1000px;
}

.table-form {
	margin-bottom: 30px;
}

.table-rowhead {
	background-color: lightblue;
}

.table-data {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
}

td {
	text-align: center;
}
</style>


<style>
#success_message {
	display: none;
}

.help-block {
	bottom: -1px;
	position: absolute;
	right: -241px;
	width: 214px;
}

.form-group {
	margin-bottom: 30px !important;
	width: 70%;
}

.submitt {
	border: none;
}

.glyphcolor {
	color: #55BFEA;
}

.buttonmargin {
	margin-left: 60px;
}
</style>
<style>
.add-button {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}

.glyph-plus {
	color: #517BBA;
}

button {
	border-radius: 5px;
	margin-right: 10px;
}

th {
	padding: 5px 34px 5px 34px;
	opacity: 0.8;
}

#home-button-align {
	margin-left: 1000px;
}

.table-form {
	margin-bottom: 30px;
	margin-top: 20px;
}

.table-rowhead {
	background-color: lightblue;
}

.table-data {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
}

td {
	text-align: center;
}
</style>
<style>
#success_message {
	display: none;
}

.help-block {
	bottom: -1px;
	position: absolute;
	right: -241px;
	width: 214px;
}

.form-group {
	margin-bottom: 30px !important;
	width: 70%;
}

.submitt {
	border: none;
}

.glyphcolor {
	color: #55BFEA;
}

.buttonmargin {
	margin-left: 60px;
}
#head{
 padding-left: 100px;
 padding-right: 100px;
}

#emailpad{
  padding-left: 70px;
  padding-right: 70px;
}
</style>


<script type="text/javascript">
function ConfirmDelete() {
	var x = confirm("Are you sure you want to delete candidate from job?");
	if (x)
		return true;
	else
		return false;
}
</script>
</head>
<body>

	<div class="container">

		
		 <ul class="nav nav-pills" style="margin-top: 20px;">
					<li><strong><h2>Candidate List</h2></strong></li>
					<li style="float: right; margin-top: 20px;"><a href="/logout" style="background-color: skyblue"><strong>LOGOUT</strong></a></li>
				</ul>
		
		<ul class="nav nav-pills">
			<li id="back-button-align" role="presentation" class="active"><a
				href="/getalljobs"
				style="border-radius: 2px; background-color: skyblue"><strong>Back</strong></a></li>
			<li id="home-button-align" role="presentation"><a
				href="/homeview"
				style="border-radius: 2px; background-color: skyblue"><strong>Home</strong></a></li>
		</ul>
		<div class="table-form">
			<table border="1">

				<tr class="table-rowhead">
					<th id="emailpad">Name</th>
					<th>Mobile Number</th>
					<th id="emailpad">Candidate Email</th>
					<th>Candidate Title</th>
					<th>Status</th>
					<th id="head">Action</th>

				</tr>

				<tr id="row1" th:each=" candidate: ${candidates}">

					<td th:text="${candidate.getCandidateName()}">&nbsp;</td>
					<td th:text="${candidate.getCandidatePhoneNo()}">&nbsp;</td>
					<td th:text="${candidate.getCandidateEmail()}">&nbsp;</td>
					<td th:text="${candidate.getCandidateTitle()}">&nbsp;</td>
					<td th:text="${candidate.getStatus()}">&nbsp;</td>
					<td class="table-data"><span
						class="glyphicon glyphicon-plus glyphcolor"><a
							th:href="@{'/deletejobcandidate/'+${candidate.getCandidateId()}+'/'+${job.getJobId()}}"
							onclick="return ConfirmDelete();">Delete From Job</a></span></td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>