<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:id="http://www.w3.org/1999/xhtml">

<head>
<title>client form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- styles for table -->
<style>
.add-button {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}

.glyph-plus {
	color: #517BBA;
}

button {
	border-radius: 5px;
	margin-right: 10px;
}

.table-form {
	padding: 20px 10px;
}

th {
	padding: 5px 50px 5px 50px;
	opacity: 0.8;
	text-align: center;
}

#home-button-align {
	 margin-left: 1000px; 
	
}

#back-button-align {
	margin-left: 120px;
}

.table-rowhead {
	background-color: lightblue;
}

.table-data {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

td {
	text-align: center;
}

#clienthead {
	color: red;
	margin-left: 125px;
}
</style>


<style>
#success_message {
	display: none;
}

.help-block {
	bottom: -1px;
	position: absolute;
	right: -241px;
	width: 214px;
}

.form-group {
	margin-bottom: 40px !important;
	width: 70%;
}

.submitt {
	border: none;
}

.glyphcolor {
	color: #55BFEA;
}

.buttonmargin {
	margin-left: 60px;
}

#email{
 padding-left: 100px;
 padding-right: 100px;
}

#title{
 padding-left: 60px;
 padding-right: 60px;
}
</style>

<script>
	function ConfirmDelete() {
		var x = confirm("Are you sure you want to delete?");
		if (x)
			return true;
		else
			return false;
	}
</script>
</head>
<body>
	<!-- <div id="clienthead">

		<h1 th:text="${client.getClientName()+' Contacts'}"></h1>
	</div> -->
	<ul class="nav nav-pills">
					<li><strong><h1  id="clienthead" th:text="${client.getClientName()+' Contacts'}"></h1></strong></li>
					<li style="float: right; margin-right: 100px; margin-top: 20px;"><a href="/logout" style="background-color: skyblue"><strong>LOGOUT</strong></a></li>
				</ul>

	<ul class="nav nav-pills">
		<li id="back-button-align" role="presentation" class="active"><a
			href="/getallclients"
			style="border-radius: 2px; background-color: skyblue"><strong>Back</strong></a></li>
		<li id="home-button-align" role="presentation"><a
			href="/homeview"
			style="border-radius: 2px; background-color: skyblue"><strong>Home</strong></a></li>
	</ul>

	<div class="container">

		<div class="table-form">
			<table border="1">

				<tr class="table-rowhead">
					<!-- <th>ContactId</th> -->
					<th>Contact&nbsp;Name</th>
					<th id="title">Title</th>
					<th id="email">Email</th>
					<th>Phone&nbsp;Number</th>
					<th>Office&nbsp;Number</th>
					<th>Actions</th>

				</tr>

				<tr id="row1" th:each=" clientcontact: ${clientcontacts}">

					<!-- <td id="client_id" th:text="${clientcontact.getContactId()}">&nbsp;</td> -->
					<td id="client_name"
						th:text="${clientcontact.getClientContactName()}">&nbsp;</td>
					<td id="client_title" th:text="${clientcontact.getClientTitle()}">&nbsp;</td>
					<td id="client_email" th:text="${clientcontact.getClientEmail()}">&nbsp;</td>
					<td id="client_phoneno" th:text="${clientcontact.getClientPhoneNo()}">&nbsp;</td>
					<td id="client_officeno"
						th:text="${clientcontact.getClientOfficeNo()}">&nbsp;</td>

					<td class="table-data"><input type="hidden" name="clientId"
						th:value="${client.getClientId()}" /> <span
						class="glyphicon glyphicon-upload glyphcolor"><a
							th:href="@{'/clientcontactupdateform/'+${clientcontact.getContactId()}+'/'+${client.getClientId()}}">Update</a></span>
						<span class="glyphicon glyphicon-trash glyphcolor"><a
							th:href="@{'/deleteclientcontact/'+${clientcontact.getContactId()}}"
							onclick="return ConfirmDelete();">Delete</a></span> <!-- <span class="glyphicon glyphicon-plus glyphcolor"><a th:href="@{'/clientcontactform/'+${client.getClientId()}}">AddClientContact</a></span> -->

					</td>
				</tr>

			</table>
		</div>
	</div>

</body>
</html>