<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:id="http://www.w3.org/1999/xhtml">
<head>
<title>job candidates</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<style type="text/css">
table {
	align-content: center;
}
/* width */
::-webkit-scrollbar{
	width: 10px;
	
}

/* Track */
 div ::-webkit-scrollbar-track {
	background: #f1f1f1;
	 border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	    background: #D5D8DC; 
	     border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

th {
	text-align: center;
}

tbody {
	height: 80em;
	overflow: auto;
	background-color: white;
}

thead {
	background-color: #85C1E9;
	
}

.container {
	overflow:auto;
	height: 450px;
	width: 1200px; 
	margin-top: 15px;
	border-radius: 20px;
	padding: 0px;
	}

#action {
	padding-left: 100px;
	padding-right: 100px;
}

#home-button-align {
	float: right;
	margin-right: 90px;
	margin-top: 50px;
	
}
.glyphcolor{
 color: #A9CCE3;
 }
 body{
  background-color: #F2F3F4;
  }
</style>
<script type="text/javascript">
	function ConfirmDelete() {
		var x = confirm("Are you sure you want to delete?");
		if (x)
			return true;
		else
			return false;
	}
</script> 

</head>
<body>
	<ul class="nav nav-pills">
					<li style="margin-left: 100px; margin-top: 10px;"><strong><h2>All Jobs</h2></strong></li>
					<li style="float: right; margin-right: 90px;margin-top: 30px;"><a href="/logout" style="background-color: skyblue"><strong>LOGOUT</strong></a></li>
				</ul>
	<ul class="nav nav-pills">
	<li style="margin-left: 100px; margin-top: 10px;"><a href="/homeview"
					style="border-radius: 2px; background-color: skyblue"><strong>Back</strong></a></li>
		<li style="float: right; margin-right: 100px;margin-top: 10px;"><a href="/jobview" style="border-radius: 2px; background-color: skyblue"><strong>Home</strong></a></li>
	</ul>

	   <div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Job&nbsp;Title</th>
					<th>Job&nbsp;Location</th>
					<th>Job&nbsp;Type</th>
					<th>Duration</th>
					<th>Budget&nbsp;Min</th>
					<th>Budget&nbsp;Max</th>
					<th>Mandatory&nbsp;Skills</th>
					<th>Desired&nbsp;Skills</th>
					<th>Job&nbsp;Description</th>
					<th>Client&nbsp;Name</th>
					<th>Client&nbsp;Contact&nbsp;Name</th>
					<th>Client&nbsp;Contact&nbsp;Email</th>
					<th>Client&nbsp;Contact&nbsp;Number</th>
					<th>Status</th>
					<th id="action">Action</th>

				</tr>
			</thead>
			
			<tbody class="tablebody">
                  <tr id="row1" th:each="job: ${jobs}">
					<td th:text="${job.getJobTitle()}">&nbsp;</td>
					<td th:text="${job.getJobLocation()}">&nbsp;</td>
					<td th:text="${job.getJobType()}">&nbsp;</td>
					<td th:text="${job.getDuration()}">&nbsp;</td>
					<td th:text="${job.getBudgetMin()}">&nbsp;</td>
					<td th:text="${job.getBudgetMax()}">&nbsp;</td>
					<td th:text="${job.getMandatorySkills()}">&nbsp;</td>
					<td th:text="${job.getDesiredSkills()}">&nbsp;</td>
					<td th:text="${job.getJobDescription()}">&nbsp;</td>
					
					<!-- <td th:text="${clientService.getByClientId(job.getClientId()).getClientName()}">&nbsp;</td>
					<td th:text="${job.getClientId()}">&nbsp;</td>
					<td th:text="${clientContactService.getClientContactByContactId(job.getClientContactId()).getClientContactName()}">&nbsp;</td>  -->
					<!-- <input type="hidden" name="clientid" th:value="${client.getClientId()}"/> --> 

<!-- 					<td th:text="${job.getClientId()}">&nbsp;</td>clientService.getClientNameByClientId(3) -->
					
					<!-- <td th:text="${job.getClientId()}">&nbsp;</td>
					<td th:text="${job.getClientContactId()}">&nbsp;</td> -->
					<td th:text="${@clientService.getClientNameByClientId(job.getClientId())}">&nbsp;</td>

					<td th:text="${@clientContactService.getClientContactNameByContactId(job.getClientContactId())}">&nbsp;</td>
					<td th:text="${job.getClientContactEmail()}">&nbsp;</td>
					<td th:text="${job.getClientContactNumber()}">&nbsp;</td>
					<td th:text="${job.getStatus()}">&nbsp;</td>
					<td class="table-data"><input type="hidden" name="jobid" th:value="${job.getJobId()}" /> 
				<nobr>
				      <span class="glyphicon glyphicon-upload glyphcolor" id="padding"><a th:href="@{'/jobupdateform/'+${job.getJobId()}}">Update</a></span>
					  <span class="glyphicon glyphicon-trash glyphcolor" id="padding"><a th:href="@{'/deletejob/'+${job.getJobId()}}" onclick="return ConfirmDelete();">Delete</a> </span>
					  <span class="glyphicon glyphicon-plus glyphcolor" id="padding"><a th:href="@{'/jobcandidateform/'+${job.getJobId()}}">AddCandidate</a></span>
					  <span class="glyphicon glyphicon-eye-open glyphcolor"><a th:text="${'View'+'('+job.getCandidates().size()+')'}"
                            th:href="@{'/alljobcandidateform/'+${job.getJobId()}}">View</a></span></nobr>
					</td>
				</tr>
				
			</tbody>
			
		</table>
	</div>

</body>
</html>