<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:id="http://www.w3.org/1999/xhtml">

<head>
<title>job candidate form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- styles for table -->
<style>
.add-button {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}

.glyph-plus {
	color: #517BBA;
}

button {
	border-radius: 5px;
	margin-right: 10px;
}

th {
	padding: 5px 34px 5px 34px;
	opacity: 0.8;
}

#home-button-align {
	margin-left: 1000px;
}

.table-form {
	margin-bottom: 30px;
}

.table-rowhead {
	background-color: lightblue;
}

.table-data {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
}

td {
	text-align: center;
}
</style>


<style>
#success_message {
	display: none;
}

.help-block {
	bottom: -1px;
	position: absolute;
	right: -241px;
	width: 214px;
}

.form-group {
	margin-bottom: 30px !important;
	width: 70%;
}

.submitt {
	border: none;
}

.glyphcolor {
	color: #55BFEA;
}

.buttonmargin {
	margin-left: 60px;
}
</style>
<style>
.add-button {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}

.glyph-plus {
	color: #517BBA;
}

button {
	border-radius: 5px;
	margin-right: 10px;
}

th {
	padding: 5px 34px 5px 34px;
	opacity: 0.8;
}

#home-button-align {
	margin-left: 1000px;
}

.table-form {
	margin-bottom: 30px;
	margin-top: 20px;
}

.table-rowhead {
	background-color: lightblue;
}

.table-data {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 40px;
	padding-right: 40px;
}

td {
	text-align: center;
}
</style>


<style>
#success_message {
	display: none;
}

.help-block {
	bottom: -1px;
	position: absolute;
	right: -241px;
	width: 214px;
}

.form-group {
	margin-bottom: 30px !important;
	width: 70%;
}

.submitt {
	border: none;
}

.glyphcolor {
	color: #55BFEA;
}

.buttonmargin {
	margin-left: 60px;
}
</style>


<script type="text/javascript">
function ConfirmCandidate() {
	var x = confirm("Are you sure you want to add candidate?");
	if (x)
		return true;
	else
		return false;
}
</script>
</head>
<body>

	<div class="container">

		      <ul class="nav nav-pills" style="margin-top: 30px;">
					<li><strong><h2>Candidate List</h2></strong></li>
					<li style="float: right; margin-top: 30px;margin-right: 60px;"><a href="/logout" style="background-color: skyblue"><strong>LOGOUT</strong></a></li>
				   
				</ul>

		<ul class="nav nav-pills">
					<li id="back-button-align" role="presentation"  class="active"><a
						href="/getalljobs"
						style="border-radius: 2px; background-color: skyblue; margin-right: 80px; display:inline;"><strong>Back</strong></a></li>
					<li id="home-button-align" role="presentation"  class="active"><a
						href="/homeview"
						style="border-radius: 2px; background-color: skyblue; margin-right: 60px;display: inline;"><strong>Home</strong></a></li>
				</ul>
		
		
		<div class="table-form">
			<table border="1">

				<tr class="table-rowhead">
					<th style="padding-left: 60px;padding-right: 60px;">Name</th>
					<th>Mobile Number</th>
					<th style="padding-left: 60px;padding-right: 60px;">Candidate Email</th>
					<th style="padding-left: 60px;padding-right: 60px;">Candidate Title</th>
					<th>Status</th>
					<th id="head" style="text-align: center;">Action</th>
				</tr>

				<tr id="row1" th:each=" candidate: ${candidates}">

					<td th:text="${candidate.getCandidateName()}">&nbsp;</td>
					<td th:text="${candidate.getCandidatePhoneNo()}">&nbsp;</td>
					<td th:text="${candidate.getCandidateEmail()}">&nbsp;</td>
					<td th:text="${candidate.getCandidateTitle()}">&nbsp;</td>
					<td th:text="${candidate.getStatus()}">&nbsp;</td>
					<td class="table-data"><input type="hidden" th:name="jobId"
						th:value="${job.getJobId()}" /> <span
						class="glyphicon glyphicon-plus glyphcolor"><a
							th:href="@{'/addjobcandidate/'+${candidate.getCandidateId()}+'/'+${job.getJobId()}}"


							onclick="return ConfirmCandidate();">Add&nbsp;Candidate&nbsp;To&nbsp;Job</a></span></td>


				</tr>
			</table>
		</div>
	</div>

</body>
</html>