<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:id="http://www.w3.org/1999/xhtml">

<head>
<title>update candidate form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- styles for table -->
<style>
.add-button {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}

#home-button-align {
	margin-left: 1000px;
}
</style>
<style>
#success_message {
	display: none;
}

.help-block {
	bottom: -1px;
	position: absolute;
	right: -241px;
	width: 214px;
}

.form-group {
	margin-bottom: 30px !important;
	width: 70%;
}

.submitt {
	border: none;
}

.buttonmargin {
	margin-left: 60px;
}
</style>
<style>
.add-button {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}

button {
	border-radius: 5px;
	margin-right: 10px;
}

#home-button-align {
	margin-left: 1000px;
}
</style>


<style>
#success_message {
	display: none;
}

.help-block {
	bottom: -1px;
	position: absolute;
	right: -241px;
	width: 214px;
}

.form-group {
	margin-bottom: 30px !important;
	width: 100%;
}

.submitt {
	border: none;
}

.buttonmargin {
	margin-left: 110px;
}

font {
	padding-left: 400px;
}

textarea {
	resize: none;
}
</style>

<script type="text/javascript">
	function validateMobile() {
		var c = document.getElementById('mobileno').value;
		//document.getElementById('mobileno').setAttribute('maxlength',12);
		if (c.length == 10) {
			var d = "91"
			var e = d.concat(c);
			document.getElementById('mobileno').value = e;
		}
	}
	</script>
</head>
<body>

	<form th:action="@{/updatecandidate}" th:object="${candidate}"
		class="well form-horizontal" method="post" onsubmit="return validateMobile(); ">
		<div class="container">
			<fieldset>

				
                <ul class="nav nav-pills">
					<li><strong><h2>Update Candidate</h2></strong></li>
					<li style="float: right; margin-top: 10px;"><a href="/logout" style="background-color: skyblue"><strong>LOGOUT</strong></a></li>
				</ul>
				<ul class="nav nav-pills">
					<li id="back-button-align" role="presentation" class="active"><a
						href="/getallcandidates"
						style="border-radius: 2px; background-color: skyblue"><strong>Back</strong></a></li>
					<li id="home-button-align" role="presentation"><a
						href="/homeview"
						style="border-radius: 2px; background-color: skyblue"><strong>Home</strong></a></li>
				</ul>
				<hr style="color: black" />

				<font style="color: red"><label th:text="${error}" /></font> <input
					id="hidden" type="hidden" th:name="candidateId"
					th:value="${candidate.getCandidateId()}" />
				<div class="col-md-4 form-group">
					<label class="col-md-4 control-label">Name<span
						style="color: red">*</span></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input name="name"
								th:name="candidatename" id="name" th:field="*{candidateName}"
								data-validation="custom required" maxlength="50"
								th:value="${candidate.getCandidateName()}"
								data-validation-regexp="^([a-zA-Z\s-]+)$" placeholder="Name"
								class="form-control" type="text"
								data-validation-error-msg="Please enter valid name" />
						</div>
					</div>
				</div>

				<div class="form-group inline-comp">
					<label class="col-md-4 control-label">Mobile Number<span
						style="color: red">*</span></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-earphone"></i></span> <input
								th:name="mobileno" id="mobileno" th:field="*{candidatePhoneNo}"
								data-validation="custom required" maxlength="10"
								th:value="${candidate.getCandidatePhoneNo()}"
								data-validation-regexp="\+?\d[\d -]{8,12}\d"
								placeholder="(+91)  Mobile number" class="form-control"
								type="tel"
								data-validation-error-msg="Please enter valid mobile number" />
						</div>
					</div>
				</div>


				<!-- Submit Button -->

				<div class="form-group inline-comp">
					<label class="col-md-4 control-label">Email<span
						style="color: red">*</span></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-envelope"></i></span> <input
								th:name="candidateemail" id="candidateemail"
								th:value="${candidate.getCandidateEmail()}" maxlength="50"
								data-validation="custom required" th:field="*{candidateEmail}"
								data-validation-regexp="[a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+"
								placeholder="Candidate email" class="form-control" type="text"
								data-validation-error-msg="Please enter valid email" />
						</div>
					</div>
				</div>

				<div class="form-group inline-comp">
					<label class="col-md-4 control-label">Title<span
						style="color: red">*</span></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-pencil"></i></span> <input
								th:name="candidatetitle" id="candidatetitle"
								data-validation="custom required" th:field="*{candidateTitle}"
								data-validation-regexp="^([a-zA-Z\s-]+)$"
								th:value="${candidate.getCandidateTitle()}" maxlength="50"
								placeholder="Candidate title" class="form-control" type="text"
								data-validation-error-msg="Please enter valid candidate title" />
						</div>
					</div>
				</div>

				<div class="form-group inline-comp">
					<label class="col-md-4 control-label">Recruiter Id<span
						style="color: red">*</span></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input
								th:name="recruiterid" id="recruiterid"
								data-validation="custom required" th:field="*{recruiterId}"
								data-validation-regexp="^[a-zA-Z0-9]+$"
								placeholder="Recruiter id" class="form-control" type="text"
								maxlength="20" th:value="${candidate.getRecruiterId()}"
								data-validation-error-msg="Please enter valid recruiter id" />
						</div>
					</div>
				</div>

				<div class="form-group inline-comp">
					<label class="col-md-4 control-label">Status<span
						style="color: red">*</span></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-exclamation-sign"></i></span> <select
								name="status" id="status" data-validation="custom required"
								class="form-control" th:field="*{status}"
								th:value="${candidate.getStatus()}"
								data-validation-error-msg="Please select the status">
								<option value="">select the status</option>
								<option value="pending">Pending</option>
								<option value="onhold">Onhold</option>
								<option value="closed">Closed</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group inline-comp" style="display: none;">
					<label class="col-md-4 control-label">Resume Id<span
						style="color: red">*</span></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input th:name="resumeid"
								id="resumeid" th:field="*{resumeId}"
								data-validation="custom required"
								th:value="${candidate.getResumeId()}"
								data-validation-regexp="^[0-9]" placeholder="Resume id"
								class="form-control" type="text"
								data-validation-error-msg="Please enter valid resume id" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4">

						<button type="submit" class="btn btn-warning buttonmargin">
							Update&nbsp;<span class="glyphicon glyphicon-send"></span>
						</button>
					</div>
				</div>
			</fieldset>
		</div>
		<!-- /.container -->

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
		<script>
			$.validate({});
		</script>
	</form>
</body>
</html>